.hidden{
	display: none;
}

.principale{
	width: 100vw;
	height: 100vh;
}

.textInput{
	width: 100%;
	height: 50px;
	padding: 0px 15px;
}

.messaggi{
	font-size: 13px;
	color: red;
	margin-bottom: 10px;
}

.messaggipass{
	font-size: 13px;
	color: red;
	margin-bottom: 10px;
}

#registrationSubmit{
	width: 100%;
	height: 56px;
	border-style: none;
	font-size: 18px;
	padding: 0px 15px;
}